.section { 
    height: 100vh;
    background-image: url("https://i.giphy.com/media/MaThe6p8WAKbf9NDDM/source.gif");
    background-position: center;
    background-size: cover;
  }

.btn-outline-primary{
    border-color: #298fca;
    color: #298fca;
    border-radius: 16px;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active{
    background-color: #298fca;
    color: black;
    border-radius: 16px;
    border-color: #298fca;
}
