.section-main { 
    height: 100vh;
    background-image: url('qriosity_main.jpeg') rgba(255, 255, 255, 0.3);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}